html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}



 p{

 	font-size: 0.9rem;
 	line-height: 1.6;
 	font-weight: 400;
 	color: #606060;
 }

 a:hover{ 
 	text-decoration: none;
 	 }

/**********actual css start*********/

.nav-item li{
	padding: 5px;
	text-align:justify;
}

.nav-item a{
	color: white!important;
	font-size: 1.1rem!important;
	margin-left: 5px;
}

.nav-item a:hover{
	opacity: 0.7;
}



.dropdown-menu{
	padding-right: 10px;
}

.dropdown-menu a{
	color: black!important;
	text-align: center;
}

.dropdown-menu a:hover{
	color:black!important;
	background:lightblue;
	min-width: 120px;

}

.dropdown:hover .dropdown-menu{
	display: block;
}


.bannerphotp{
width: 100%;
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('banner.jpg'); 
	background-repeat: no-repeat;

	background-size: 100% 100%;
	position:fixed;

}


.bannertop::before {

	content: '';
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right:0%;
	opacity: 1;
	z-index: -1;
}



.bannertop{
	margin-top: 20px;
	margin-bottom: 200px;
}



.bannertop h1{
	font-weight: bold; 	
	margin-bottom: 15px;
	color: white;
	margin-top: 140px;
}



.rock{
	width: 100%;
	height: auto;
	position: relative;
	background:#dfe3ee!important;
	padding: 10px;

}

.rock img{
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 50px 0 50px 0;
	box-shadow: 10px 10px 10px 0 rgba(0,0,245,0.5);
}

.rock h2{
	margin-top: 20px;
}
/****service start*********/


.service{
	width: 100%;
	height: auto;
	position: relative;


}

.service h2{
	padding: 25px;
	font-weight:600;
}

.service .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top:15px;
  text-align: center;
  margin-bottom: 20px;
  margin-left:10px;
  margin-right: 10px;
  outline: 10px solid white;

}

.service h5{
	color: black;
	margin-bottom: 20px;
	font-weight: 400;
}

.service .card img{
	margin-top: 20px;
	height: 120px;
	border-radius:100px 100px 100px 100px;
	margin-bottom: 20px;

}

.service .card:hover{
	box-shadow: 10px 10px 10px 10px rgba(0,0,255,0.6);
	transform: translateY(-5px);
	background:grey;
	color: white;
}

/*********SERVICE ENDS***********/

.yogaclass{
	width: 100%;
	height: auto;
	position: relative;
	background: #dfe3ee!important;
	margin-top: 40px;
	padding:10px;
	padding-bottom: 20px;
}

.yogaclass img{

 border-radius: 70px 0 70px 0;
 box-shadow: 2px 2px 5px 5px rgba(0,0,245,0.5);
 margin-bottom: 20px;
}



/********know about us*********/

.knowaboutus{
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
	opacity: 0.8;
}

.knowaboutus .card{
	padding: 15px;
	margin-bottom:10px ;
	margin-top: 20px;
	border-radius: 50px 0 50px 0;
	box-shadow: 10px 10px 10px 0 rgba(0,0,245,0.5);
}

.knowaboutus h2{
	color: white;
	padding-top: 30px;
}

.knowaboutus h1{
	margin: 10px;
}



/*********about prasad *******/


.aboutprasad{
	width: 100%;
	height: auto;
	position: relative;
	background: #dfe3ee!important;
	margin-top: 30px;
	padding: 10px;
}

.aboutprasad h2{
	text-align: center;
	font-weight: 600;
	margin-top: 20px;

}

.aboutprasad hr{
	border: 2px solid black;
	margin: auto;
	margin-bottom: 30px;
}

.aboutprasad p{
	font-weight:500;
}

/*********our planb*********/


.ourplan{
	margin-bottom: 50px;
	text-align: center;
	opacity: 0.8;
	padding:10px;
}

.ourplan h2{
	margin-top: 20px;
}
.ourplan .card{
	padding: 15px;
	margin-bottom:10px ;
	margin-top: 20px;
	border-radius: 50px 0 50px 0;
}

.ourplan h3{
	color: green;
	margin-bottom: 5px!important;
}
.ourplan h5{
	font-weight: 500;
}
.ourplan p{
	text-align: center;
	margin-bottom: 2px!important;
}

.ourplan hr{
	border: .2px solid black;
	margin: 5px!important;
}

.ourplan .card:hover{
	box-shadow: 20px 5px 20px 0 rgba(0,0,245,0.5);
	transform: translateY(-5px);
	opacity: 0.9;
}

.ourplan .card:hover .btn{
	background: darkblue;
}

/********DISCOUNT START******/

.discount{
	margin-bottom: 30px;
	text-align: center;
	opacity: 0.9;
	padding: 30px;
	background: #dfe3ee!important;

}

.discount h3{
	font-weight: 600;
}

/******our teasm*************/

.team{
	width: 100%;
	opacity:0.9;
	margin-bottom: 15px;
}


.team .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top:15px;
  text-align: center;
  margin-bottom: 20px;
  padding: 2px;
}


.team .card img{
	height:200px;
}

.team h4{
	margin-top: 10px;
}



/***********TIMING START********/

.timing{
	margin-bottom: 30px;
	text-align: center;
	opacity: 0.9;
	padding: 30px;
	background: #dfe3ee!important;

}


.news-input{
	border-radius: 100px 100px 100px 100px!important;

}


.timing .input-group{
	width:90%;
	margin:15px;
}

.input-group-text{
	color: #fff!important;
	background: #5bc0de!important;
	border-radius: 0 100px 100px 0px!important;
	min-width: 120px;
	min-height: 40px;
}







/********FOOTER START************/

.footer{
	margin-top: 20px;
	text-align: left;
	opacity: 0.9;
	color: white;
	padding: 10px;

}
.footer h3{
	font-weight: 500;
	color: lightgray;
	margin-top: 10px;
}

.footer hr{
	border: 1px solid white;
}
.footer p{
	color: white;
	text-align: justify;
}

.footer a{
	color: white;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 5px;
}

.footer a:hover{
	opacity: 0.7;
}




#myBtn{

	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	color: white;
	cursor: pointer;
	background: #4000ff;
	padding: 10px;
	border-radius: 10px;
}

#myBtn:hover{
	background: #606060;